html, body {
    height: 100%;
}
body {
    margin: 0;
}
ul, h2 {
    margin: 0; padding: 0;
}
aside {
    width: 20%; background-color: steelblue; height: 100%;
    position: fixed; left: 0; top: 0;
}
section {
    height: 2000px;
    background-color: lemonchiffon;
    width: 80%; padding-left: 20%;
}