*{
    margin: 0; padding: 0;
}
.wrap{
    width: 960px; margin: 0 auto;
}
.wrap header{
    background-color: #f27766;
}
.wrap header:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap header h1{
    width: 130px; background-color: red; float: left;
    font-size: 20px; text-align: center; line-height: 55px;
    color: white;
}
/* *line-height 대신 height를 주게 되면 글자가 위로 올라가서 적합하지 않고
   *상하 padding을 주기엔 h1과 nav의 값이 다르기 때문에 복잡 */
.wrap header nav{
    width: 830px; background-color: blue; float: left; line-height: 55px;
}
.wrap header nav ul{
    text-align: center;
}
.wrap header nav ul li{
    display: inline-block; margin-left: 5%;
}
/*  *li는 float보다 display: inline-block;이 유리한 이유는
    *float를 하게 되면 left나 right만 있기 때문에 padding을 계산해서 넣어줘야 함(복잡)
    *글자 수가 다를 경우 width를 잡아주기가 힘듬
    *width를 동일하게 설정한다고 해도 메뉴 사이 간격을 제대로 동일하게 잡기가 힘듬
    ?큰 공간을 배치할 때는 float, 그 안에서의 소분은 inline-block으로 처리할 경우 용이하게 사용 가능 */
/* 
    * line-height를 nav ul, nav ul li에 주어도 되는데 그렇게 되면 ux에 문제가 됨
    * a 태그의 menu를 클릭하게 됐을 때 line-height가 a 태그에 적용이 되지 않아
    * 클릭이 어려워지기 때문에  nav ul li a에 적용하는게 가장 적합함
    * 단, a태그 기본 속성은 inline이기 때문에 display: block; 부여하기*/
.wrap header nav ul li a{
    color: white; display: block;
}

.wrap section{
    margin-bottom: 300px; background-color: salmon;
}
.wrap section:after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.wrap section h2{
    background-color: #0cf;
}
.wrap section article{
    float: left; width: 33.33%;
}
.wrap section article h3{
    color: white; background-color: black;
}
.wrap section article ul{
    list-style: none;
}
.wrap section article li{
    font-size: 16px; line-height: 35px; background-color: white;
}
/*  ?css에서는 큰 공간에서 할 수 있는 것을 찾은 후에 그 안에 있는 컨텐츠들이 할 수 있는게 뭔지 생각
    ?큰 공간을 쓰지 않는다고 한들 일단 생각 먼저 해보기 */

.wrap footer{
    text-align: center; background-color: #4800ff; color: white;
    line-height: 55px;
}