* {
    margin: 0; padding: 0;
}
div {
    margin-bottom: 30px;
}
.displayProperty span:nth-child(1) {
    display: block;
    width: 50%;
    background-color: #fc9393;
}
.displayProperty span:nth-child(2) {
    display: inline-block; width: 25%;
    background-color: #93fc93;
}
.displayProperty span:nth-child(3) {
    display: inline; width: 75%;
    background-color: #9393fc;
}
.displayProperty span:nth-child(4) {
    display: none;
}
/* 
    * display: none을 부여하는 순간 공간, content 등 모두 브라우저에서 사라짐
*/

.visibilityProperty span {
    display: block;
}

.visibilityProperty span:nth-child(2) {
    visibility: hidden; height: 500px;
}